<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.backend.mappers.PostMapper">

    <select id="findAllPosts" parameterType="map" resultType="com.project.backend.dto.PostDto">
        SELECT post.*, region.region_name as region_name
        FROM post
        JOIN region ON post.region_no = region.region_no
        ORDER BY post_date DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getTotalPostCount" resultType="int">
        SELECT COUNT(*) FROM posts
    </select>

    <select id="getRecentPost"  resultType="com.project.backend.dto.PostDto">
        SELECT *
        FROM (
            SELECT post.*, region.region_name as region_name,
            ROW_NUMBER() OVER (PARTITION BY post_category ORDER BY post_date DESC) as rn
            FROM post
            JOIN region ON post.region_no = region.region_no
        ) AS RankedPosts
        WHERE rn <![CDATA[<=]]> 3
    </select>

    <select id="findPostByTitle" parameterType="string" resultType="com.project.backend.dto.PostDto">
        SELECT * FROM post WHERE post_title = #{getPostTitle}
    </select>

    <select id="findPostByNo" parameterType="string" resultType="com.project.backend.dto.PostDto">
        SELECT * FROM post WHERE post_no = #{getPostNo}
    </select>


    <!-- 페이지네이션    -->
    <resultMap id="postResultMap" type="com.project.backend.dto.PostDto">
        <id property="postNo" column="post_no"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="postFile" column="post_file"/>
        <result property="userNo" column="user_no"/>
        <result property="postViews" column="post_views"/>
        <result property="postCategory" column="post_category"/>
        <result property="regionNo" column="region_no"/>
        <result property="postDate" column="post_date"/>
        <result property="postStatus" column="post_status"/>
    </resultMap>

    <select id="getPosts" resultMap="postResultMap">
        SELECT post.*, region.region_name as region_name
        FROM post
        JOIN region ON post.region_no = region.region_no
        ORDER BY post_date DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getPostCount" resultType="long">
        SELECT COUNT(*) FROM post
    </select>

    <select id="getPostCountByCategory" parameterType="string" resultType="long">
        <if test="categoryNo != null">
            SELECT COUNT(*) FROM post WHERE post_category = #{categoryNo}
        </if>
        <!-- categoryNo가 null인 경우 -->
        <if test="categoryNo == null">
            SELECT COUNT(*) FROM post
        </if>
    </select>

    <select id="findPostByCategory" parameterType="string" resultMap="postResultMap">
        <!-- categoryNo null이 아닌 경우 -->
        <if test="categoryNo != null">
            SELECT post.*, region.region_name as region_name
            FROM post
            JOIN region ON post.region_no = region.region_no
            WHERE post_category = #{categoryNo}
        </if>
        <!-- categoryNo가 null인 경우 -->
        <if test="categoryNo == null">
            SELECT post.*, region.region_name as region_name
            FROM post
            JOIN region ON post.region_no = region.region_no
        </if>
        ORDER BY post_date DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
